body {
    font-family: 'Noto Sans JP', sans-serif;
}

.topnav {
    background-color: black;
    position: fixed;
    width: 100%;
    height: 50px;
    margin-top: -1.4em;
    margin-left: -0.47em;
    box-shadow: 0px 2px 2px gray;
}

.topnav a {
    float: right;
    color: #f2f2f2;
    text-align: right;
    text-decoration: none;
    font-size: 20px;
    margin-right: 3px;
    margin-left: 10px;
    margin-top: 5px;
    -o-transition: .6s;
    -ms-transition: .6s;
    -moz-transition: .6s;
    -webkit-transition: .6s;
    transition: .6s;
}

.topnav a:hover {
    color: orange;
}

.topnav h1 {
    margin-top: -5px;
    color: white;
    margin-left: 2px;
}

h1 {
    color: rgb(194, 6, 6);
}

.w50 {
    width: 50%;
}

.w60 {
    width: 60%;
}

code {
    background-color: lightgray;
    font-size: large;
}