:root {
    --clr-light: white;
    --link-hover-clr: #e7e7e7;
    --link-clr: blue;

    --foreground: black;
    --background: var(--clr-light);
}

.darkmode {
    --clr-light: white;
    --clr-dark: #2b2b33;
    --link-hover-clr: #444444;
    --link-clr: #0199ff;

    --foreground: var(--clr-light);
    --background: var(--clr-dark);
}

body {
    font-family: 'Noto Sans JP', sans-serif;
    background-color: var(--background);
    color: var(--foreground);
    -o-transition: 0.8s;
    -ms-transition: 0.8s;
    -moz-transition: 0.8s;
    -webkit-transition: 0.8s;
    transition: 0.8s;
}

p {
    line-height: 1.7;
}

/* Navigation bar styles begin */

.navbar {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
    z-index: 98;
    box-shadow: 0px 4px 4px gray;
}

.navbar-logo a {
    color: white;
    text-decoration: none;
    font-size: 2em;
    margin-left: 0.5rem;
    font-weight: bold;
}

.navbar-logo span {
    font-family: 'Courier New', monospace;
    font-size: 1.2em;
    color: #ff6601;
}

.navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-links li {
    list-style: none;
    -o-transition: 0.3s;
    -ms-transition: 0.3s;
    -moz-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.navbar-links li a {
    text-decoration: none;
    font-size: x-large;
    color: white;
    padding: 0.75rem;
    display: inline-block;
}

.navbar-links li:hover {
    background-color: #555;
}

.navbar-links li p {
    display: none;
}

#dark-mode-toggle {
    cursor: pointer;
    font-size: x-large;
    padding: 0.75rem;
    display: inline-block;
}

.navbar-hamburger {
    cursor: pointer;
    position: absolute;
    right: 0;
    padding: 0.75rem;
    display: none;
    font-size: x-large;
    -o-transition: 0.3s;
    -ms-transition: 0.3s;
    -moz-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.navbar-hamburger:hover {
    background-color: #555;
}

/* Navigation bar styles end */

.thumbnails {
    width: 100px;
    margin-right: 2px;
    float: left;
    margin-right: 6px;
    padding-top: 10px;
}

.links {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    color: black;
    font-weight: bold;
    color: var(--foreground);
    margin-bottom: 25px;
    border: 1px solid var(--foreground);
    border-radius: 10px;
    margin: 8px 10px;
    padding: 0px 5px;
}

.links:hover {
    background-color: var(--link-hover-clr);
}

footer {
    color: gray;
    margin-top: 70px;
}

.desc {
    color: gray;
    font-weight: normal;
}

h1#animation {
    text-align: center;
    font-size: 75pt;
}

div#develo-animation {
    margin-top: 45px;
    color: #ff6601;
    font-family: 'Courier Prime', monospace;
    font-size: 100pt;
    text-shadow: #ff6601 0px 2px 3px;
}

a {
    color: var(--link-clr);
}

@media only screen and (max-width: 505px) {
    h1#animation {
        font-size: 45pt;
        margin-top: 60px;
    }

    div#develo-animation {
        font-size: 60pt;
    }
}

@media only screen and (max-width: 360px) {
    h1#animation {
        font-size: 40pt;
        margin-top: 70px;
    }

    div#develo-animation {
        font-size: 50pt;
    }

    .navbar-hamburger {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100vw;
    }

    .navbar-links li p {
        display: inline;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-links ul {
        flex-direction: column;
        width: 100vw;
    }

    .navbar-links li a,
    .navbar-links li #dark-mode-toggle {
        padding: 0.5rem;
        width: 100vw;
        font-size: large;
    }

    .navbar-links.active {
        display: flex;
    }
}