:root {
    --clr-light: white;
    --link-hover-colour: #e7e7e7;
    --link-colour: blue;

    --foreground: black;
    --background: var(--clr-light);
}

.darkmode {
    --clr-light: white;
    --clr-dark: #2b2b33;
    --link-hover-colour: #444444;
    --link-colour: #0199ff;

    --foreground: var(--clr-light);
    --background: var(--clr-dark);
}

body {
    font-family: 'Noto Sans JP', sans-serif;
    background-color: var(--background);
    color: var(--foreground);
    -o-transition: 0.8s;
    -ms-transition: 0.8s;
    -moz-transition: 0.8s;
    -webkit-transition: 0.8s;
    transition: 0.8s;
}

section.main-text {
    line-height: 1.7;
}

div.topnav {
    display: flex;
    justify-content: space-between;
    background-color: black;
    position: fixed;
    width: 100%;
    height: 50px;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0px 2px 2px gray;
    z-index: 98;
}

div.topnav a,
div.topnav i {
    color: white;
    float: left;
    text-decoration: none;
    margin-left: 10px;
    padding-top: 7px;
    -o-transition: 0.3s;
    -ms-transition: 0.3s;
    -moz-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

div.topnav a:hover,
div.topnav i:hover {
    color: #ff6601;
}

div.topnav h1 {
    margin-top: -9px;
    color: white;
    margin-left: 2px;
}

div.topnav #develo {
    color: #ff6601;
    font-family: 'Courier Prime', monospace;
    font-size: larger;
}

div.topnav div.topnav-right {
    float: right;
}

div.topnav #dark-mode-toggle {
    cursor: pointer;
    margin-left: 10px;
}

.thumbnails {
    width: 100px;
    margin-right: 2px;
    float: left;
    margin-right: 6px;
    padding-top: 10px;
}

.links {
    display: grid;
    grid-template-columns: 110px 1fr;
    text-decoration: none;
    color: black;
    font-weight: bold;
    color: var(--foreground);
    margin-bottom: 25px;
    border: 1px solid var(--foreground);
    border-radius: 10px;
    margin: 8px 10px;
    padding: 0px 5px;
}

.links:hover {
    background-color: var(--link-hover-colour);
}

footer {
    color: gray;
    margin-top: 70px;
}

.desc {
    color: gray;
    font-weight: normal;
}

video {
    padding-top: 45px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

h1#animation {
    text-align: center;
    font-size: 75pt;
}

div#develo-animation {
    margin-top: 45px;
    color: #ff6601;
    font-family: 'Courier Prime', monospace;
    font-size: 100pt;
    text-shadow: #ff6601 0px 2px 3px;
}

@media only screen and (max-width: 487px){
    h1#animation {
        font-size: 45pt;
    }
    div#develo-animation {
        font-size: 60pt;
    }
}

a {
    color: var(--link-colour);
}

@media only screen and (max-width: 343px) {
    div.topnav h1 {
        font-size: x-large;
    }
    div.topnav {
        height: 35px;
    }
    div.topnav a {
        padding-top: 7px !important;
    }
    div.topnav h1 a.fab.fa-github {
        padding-top: 4px !important;
    }
    video {
        padding-top: 30px;
    }
    h1#animation {
        font-size: 40pt;
    }
    div#develo-animation {
        font-size: 50pt;
    }
}