:root {
    --clr-light: white;
    --link-clr: blue;

    --foreground: black;
    --background: var(--clr-light);
}

.darkmode {
    --clr-light: white;
    --clr-dark: #2b2b33;
    --link-clr: #0199ff;

    --foreground: var(--clr-light);
    --background: var(--clr-dark);
}

a {
    color: var(--link-clr);
}

body {
    font-family: 'Noto Sans JP', sans-serif;
    background-color: var(--background);
    color: var(--foreground);
    -o-transition: 0.8s;
    -ms-transition: 0.8s;
    -moz-transition: 0.8s;
    -webkit-transition: 0.8s;
    transition: 0.8s;
}

section.main-text {
    line-height: 1.7;
}

html {
    scroll-behavior: smooth;
}

/* Navigation bar styles begin */

.navbar {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
    z-index: 98;
    box-shadow: 0px 4px 4px gray;
}

.navbar-logo a {
    color: white;
    text-decoration: none;
    font-size: 2em;
    margin-left: 0.5rem;
    font-weight: bold;
}

.navbar-logo span {
    font-family: 'Courier New', monospace;
    font-size: 1.2em;
    color: #ff6601;
}

.navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-links li {
    list-style: none;
    -o-transition: 0.3s;
    -ms-transition: 0.3s;
    -moz-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.navbar-links li a {
    text-decoration: none;
    font-size: x-large;
    color: white;
    padding: 0.75rem;
    display: inline-block;
}

.navbar-links li:hover {
    background-color: #555;
}

.navbar-links li p {
    display: none;
}

#dark-mode-toggle {
    cursor: pointer;
    font-size: x-large;
    padding: 0.75rem;
    display: inline-block;
}

.navbar-hamburger {
    cursor: pointer;
    position: absolute;
    right: 0;
    padding: 0.75rem;
    display: none;
    font-size: x-large;
    -o-transition: 0.3s;
    -ms-transition: 0.3s;
    -moz-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.navbar-hamburger:hover {
    background-color: #555;
}

/* Navigation bar styles end */

h1 {
    margin-top: 10vh;
    text-align: center;
}

img {
    width: 60vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

code {
    display: inline-block;
    background-color: black;
    color: white;
    font-size: large;
    font-family: 'Courier Prime', monospace;
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px 3px;
    margin: 5px 3px;
}

span.inline-code {
    font-family: 'Courier Prime', monospace;
    background-color: #383838;
    color: white;
}

kbd {
    font-family: 'Noto Sans JP', sans-serif;
    border: 1px solid #000;
    border-radius: 6px;
    font-size: 90%;
    padding: 0px 5px;
    text-align: justify;
    white-space: nowrap;
    overflow-x: auto;
    background-color: #404040;
    color: #FFF;
    box-shadow: inset 0 -2px 0 0 #000;
    margin: 4px;
}

@media only screen and (max-width: 360px) {
    img {
        width: 85vw
    }

    .navbar-hamburger {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100vw;
    }

    .navbar-links li p {
        display: inline;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-links ul {
        flex-direction: column;
        width: 100vw;
    }

    .navbar-links li a,
    .navbar-links li #dark-mode-toggle {
        padding: 0.5rem;
        width: 100vw;
        font-size: large;
    }

    .navbar-links.active {
        display: flex;
    }
}