body {
    font-family: 'Noto Sans JP', sans-serif;
}

section.main-text {
    line-height: 1.7;
}

html {
    scroll-behavior: smooth;
}

div.topnav {
    background-color: black;
    position: fixed;
    width: 100%;
    height: 50px;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0px 2px 2px gray;
}

div.topnav a {
    float: right;
    color: #f2f2f2;
    text-align: right;
    text-decoration: none;
    margin-right: 3px;
    margin-left: 10px;
    margin-top: 7px;
    -o-transition: 0.3s;
    -ms-transition: 0.3s;
    -moz-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

div.topnav a.fas {
    float: left;
}

div.topnav a:hover {
    color: #ff6601;
}

div.topnav h1 {
    margin-top: -3px;
    color: white;
    margin-left: 2px;
}

div.topnav #develo {
    color: #ff6601;
    font-family: 'Courier Prime';
    font-size: larger;
}



h1 {
    color: rgb(194, 6, 6);
}

img {
    width: 80vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

code {
    background-color: #000;
    font-size: large;
    font-family: 'Courier Prime', monospace;
	padding: 35px 20px;
	color: #fff;
	border: 1px solid #000;
	border-radius: 10px;
}

kbd {
	font-family: 'Noto Sans JP', sans-serif;
	border: 1px solid #9c9c9c;
	border-radius: 6px;
	font-size: 90%;
	padding: 2px 6px;
	text-align: justify;
	white-space: nowrap;
	overflow-x: auto;
	background-color: #c2c2c2;
	color: #000;
	box-shadow: inset 0 -3px 0 0 #8f8f8f;
	margin: 4px;
}
